<div id="centerDoc">
<% title "Editing eReader information for #{@user.email.blank? ? @user.name : @user.email}" -%>

<h1><%= yield :title -%></h1>

<% form_for(@user) do |f| %>
<h2>In order to send you articles, we need to have your eReader's email address.</h2>
<div class="field">
	<%= f.label :ereader_email, "eReader Email" %><span class="red"> (REQUIRED)</span><br />
    <%= f.text_field :ereader_email %>
</div>
<h2>We'd love to have this information as well!</h2>
<% if @user.email.blank? -%>
<div class="field">  
	<%= f.label :email, "Regular Email" %><br />
    <%= f.text_field :email %>
</div>
<% end %>
<% if @user.name.blank? -%>
<div class="field">  
	<%= f.label :name %><br />
    <%= f.text_field :name %>
</div>
<% end -%>
<% if @user.birthdate.blank? -%>
<div class="field">  
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, :start_year => 1900, :end_year => (Time.now.year - 12) %>
</div>  
<% end -%>
<% if @user.gender.blank? -%>
<div class="field">
	<%= f.label :gender -%><br />
	<%= f.select(:gender, ["", "Female", "Male"]) -%>
  </div>
<% end -%>
<div class="actions">  
    <%= f.submit 'Update' %>
</div>
<% end %>
</div>